{% extends "base.html" %}
{% load static %}
{% block conteudo %}
    <br>
    <h1>PetLins</h1>
    <div class="packfotos">
            <img class ="foto1"src="{% static 'img/Cão1.jpg' %}" alt ="">
            <img class ="foto2" src="{% static 'img/Gato1.jpg' %}" alt ="">
            <!--<img src="{% static 'img/Cão2.jpg' %}" alt ="">
            <img src="{% static 'img/Gato2.jpg' %}" alt ="">
            <img src="{% static 'img/Cão3.jpg' %}" alt ="">
            <img src="{% static 'img/Gato3.jpg' %}" alt ="">
            <img src="{% static 'img/Cão4.jpg' %}" alt ="">
            <img src="{% static 'img/Gato4.jpg' %}" alt ="">-->
    </div>



    <!--Caso o usúario esteja conectado, aparece uma mensagem de boas vindas, se ele estiver
    anônimo aparece um link para ele efetuar o login caso queira.-->
        {% if user.is_anonymous %}
            <h5>Não conectado {{ user.get_name }}</h5>
            <a href="{% url 'login' %}">Login</a>
        {% else %}
            <h3>Seja bem vindo(a) {{ user.username }}</h3>
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
{% endblock conteudo %}
