.foto1{
    border-radius: 50%;
    grid-area:foto1;
}
.foto2{
    border-radius: 50%;
    grid-area:foto2;
}

@media (max-width: 300px){
    .packfotos{
        display: grid;
        grid-template-areas:
         "foto1 foto2"
         ;
    }
}

@media (min-width: 300px){
    .packfotos{
        display: grid;
        grid-template-areas:
         "foto1"
         "foto2";

    }
}
