

body{
    background-color:var(--cor1) ;
}
nav{background-color:var(--cor5);
height : 30px;
color: azure;
}
a{color: var(--cor3);
}
p,li,h1,h3,h5{color: var(--cor3);
font-family: "Times New Roman";
}
img{width: 49%;
}

:root{
/*variaveis */
--cor1: #f6d8ae;
--cor2: #909cc2;
--cor3: #383a42;
--cor4: #70ee9c;
--cor5: #ca5310;
}