* {
    background-color: lightgoldenrodyellow;
}

nav {
    display: flex;
    color: lightgoldenrodyellow;
    font-family: "Helvetica";
    text-align: center;
    font-size: 26px;
    letter-spacing: 5px;
    align-items: center;
    justify-content: space-around;
}

a {
    color: var(--cor3);
    font-family: "Helvetica";
}

p, li {
    color: var(--cor3);
    font-size: 16px;
    font-family: "Helvetica";
}

h1 {
    font-family: "Copperplate Gothic";
    padding: 10px;
}

img {
    width: 49%;
}

:root {
    /*variaveis */
    --cor1: #f6d8ae;
    --cor2: #909cc2;
    --cor3: #383a42;
    --cor4: #70ee9c;
    --cor5: #ca5310;
    --cor6: #add8e6;
}