
body{
    background-color:var(--cor1) ;
}
nav{
    background-color:var(--cor5);
    height : 30px;
    color: azure;
}
nav a{
    color: var(--cor1);
}

p,li,h1,h3,h5{
    color: var(--cor3);
    font-family: "Times New Roman";
}
img{
    width: 49%;
    border-radius: 16%;
}

:root{
    /*variaveis */
    --cor1: #f6d8ae;
    --cor2: #909cc2;
    --cor3: #383a42;
    --cor4: #70ee9c;
    --cor5: #ca5310;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 20px;
}

button, input {
    overflow: visible;
    border-radius: 28%;
}

button, select {
    text-transform: none;
    border-radius: 12px;
}
@media(width: 800px){


}